DJANGO_DEBUG=False
DJANGO_SECRET_KEY=replace-with-strong-production-secret
DJANGO_ALLOWED_HOSTS=www.mongikazi.co.za,mongikazi.co.za,46.101.81.183
SQLITE_PATH=/var/www/mongikazi/db.sqlite3
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
